@model List<WebAppsProsjekt1.Models.User>
@{
    ViewBag.Title = "ListUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    <a href="/User/RegisterUser">Register</a>
</p>

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Email
        </th>
        <th>
            Name
        </th>
        <th>
            Surname
        </th>
        <th>
            Password
        </th>
        <th>
            Address
        </th>
        <th>
            ZipCode
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Surname
            </td>
            <td>
                @item.Password
            </td>
            <td>
                @item.Address
            </td>
            <td>
                @*@item.Mail.ZipCode*@
            </td>
            <td>
                <a href="/User/DeleteUser?Id=@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>

    @foreach (var user in Model)
    {
        <p>
            User name: @user.Email <br />

            @foreach (var order in user.Order)
            {
            <p>
                Order date: @order.Date <br />

                @foreach (var orderline in order.Orderline)
                {
                <p>
                    Movie name: @orderline.Movie.Title <br />
                    Movie cost: @orderline.Movie.Cost <br />
                </p>
            }
                </p>
            }
            </p>
        }
