@model WebAppsProsjekt1.Models.User
@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/css/cssUser/UserLogin.css")
}
<head>

</head>
<div class="container">
    <div class="main-div">
        @if (Session["Login"] != null)
        {
            <h2>@Session["Login"].ToString()</h2>
        }
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-headers">
                <h2>Login</h2>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" class="btn btn-success" />
                </div>
            </div>
        }
        <div class="col-md-offset-2 col-md-10">
            <a href="/User/UserRegister">Sign up</a>
        </div>
    </div>
</div>