@model IEnumerable<WebAppsProsjekt1.Model.VMUser>

@{
	ViewBag.Title = "UserList";
	Layout = "~/Views/Shared/Background.cshtml";
}
@if (Session["Login"] == null)
{
	Session["AccessFailedLogin"] = "true";
	Response.Redirect("UserLogin");
}
else
{
	int.TryParse(Session["Userlevel"].ToString(), out int userlevel);
	if (userlevel < 1)
	{
		Session["AccessFailedAdmin"] = "true";
		Response.Redirect("Movie/MovieList");
	}
}
@if (Session["DeleteSuccess"] != null)
{
	<script type="text/javascript">
		$(window).on('load', function () {
			showFeedbackModal("User deleted.", "green", 4000);
		});
	</script>
	Session.Remove("DeleteSuccess");
}
else if (Session["EditSuccess"] != null)
{
	<script type="text/javascript">
		$(window).on('load', function () {
			showFeedbackModal("User edited.", "green", 4000);
		});
	</script>
	Session.Remove("EditSuccess");
}
<link href="~/Content/cssList.css" rel="stylesheet" />
<h1>List of Users</h1>

<table class="table table-striped">
	<tr>
		<th class="hidden-xs hidden-sm hidden-md" style="width:5%"></th>
		<th class="hidden-xs hidden-sm hidden-md">
			@Html.DisplayNameFor(model => model.Id)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Userlevel)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Email)
		</th>
		<th class="hidden-sm hidden-xs hidden-md">
			@Html.DisplayNameFor(model => model.Firstname)
		</th>
		<th class="hidden-sm hidden-xs hidden-md">
			@Html.DisplayNameFor(model => model.Surname)
		</th>
		<th class="hidden-sm hidden-xs hidden-md">
			@Html.DisplayNameFor(model => model.Password)
		</th>
		<th class="hidden-xs hidden-sm hidden-md">
			@Html.DisplayNameFor(model => model.Address)
		</th>
		<th class="hidden-xs hidden-sm hidden-md">
			@Html.DisplayNameFor(model => model.ZipCode)
		</th>
		<th class="hidden-xs hidden-sm hidden-md">
			@Html.DisplayNameFor(model => model.Area)
		</th>
		<th></th>
		<th></th>
		<th></th>
		<th class="hidden-xs hidden-sm hidden-md" style="width:5%"></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td class="hidden-xs hidden-sm hidden-md"><div class="col-sm-2 hidden-xs"></div></td>
			<td class="hidden-xs hidden-sm hidden-md">
				@Html.DisplayFor(modelItem => item.Id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Userlevel)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Email)
			</td>
			<td class="hidden-xs hidden-sm hidden-md">
				@Html.DisplayFor(modelItem => item.Firstname)
			</td>
			<td class="hidden-xs hidden-sm hidden-md">
				@Html.DisplayFor(modelItem => item.Surname)
			</td>
			<td class="hidden-xs hidden-sm hidden-md">
				@Html.DisplayFor(modelItem => item.Password)
			</td>
			<td class="hidden-xs hidden-sm hidden-md">
				@Html.DisplayFor(modelItem => item.Address)
			</td>
			<td class="hidden-xs hidden-sm hidden-md">
				@Html.DisplayFor(modelItem => item.ZipCode)
			</td>
			<td class="hidden-xs hidden-sm hidden-md">
				@Html.DisplayFor(modelItem => item.Area)
			</td>
			<td>
				<div><a href="/User/UserEdit?id=@item.Id" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span></a></div>
			</td>
			<td>
				<div><a href="/User/UserDetailAdminView?id=@item.Id" class="btn btn-primary"><span class="glyphicon glyphicon-info-sign"></span></a></div>
			</td>
			<td>
				<div><a class="btn btn-danger" href="@Url.Action("UserDelete", "User", new { id = item.Id })"><span class="glyphicon glyphicon-trash"></span></a></div>
			</td>
			<td class="hidden-xs hidden-sm hidden-md"><div class="col-sm-2 hidden-xs"></div></td>
		</tr>
	}
</table>
</body>
</html>