@model WebAppsProsjekt1.Models.User
@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/Background.cshtml";
}
<link href="~/Content/UserLogin.css" rel="stylesheet" />

@if (Session["Login"] != null)
{
    Session["LoginAlready"] = "true";
    Response.Redirect("/Movie/MovieList");
}
else if (Session["LoginFailed"] != null)
{
<script type="text/javascript">
	$(window).on('load', function () {
		showFeedbackModal("Login failed.", "red");
	});
</script>
    Session.Remove("LoginFailed");
}
else if (Session["PurchaseFailedLogin"] != null)
{
<script type="text/javascript">
	$(window).on('load', function () {
		showFeedbackModal("Login session is required for order.", "red");
	});
</script>
    Session.Remove("PurchaseFailedLogin");
}
else if (Session["AccessFailedLogin"] != null)
{
<script type="text/javascript">
	$(window).on('load', function () {
		showFeedbackModal("Login session is required for access.", "red");
	});
</script>
    Session.Remove("AccessFailedLogin");
}
else if (Session["RegistrationSuccess"] != null)
{
	<script type="text/javascript">
		$(window).on('load', function () {
			showFeedbackModal("User registration successful.", "green");
		});
	</script>
    Session.Remove("RegistrationSuccess");
}

<div id="feedback-modal" class="modal" role="dialog">
	<div class="modal-body">
		<p align="center"></p>
	</div>
</div>
<div class="container">
	<div class="main-div">
		@if (Session["Login"] != null)
		{
		<h2>@Session["Login"].ToString()</h2>
		}
		@using (Html.BeginForm())
		{
		try
		{
		@Html.AntiForgeryToken()
		<div class="form-headers">
			<h1 class="login">Login</h1>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
			</div>
		</div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-success" id="login" value="Login"/>
            </div>
        </div>
        }
        catch (System.Web.HttpException)
        {
        return;
        }
        }

        <div class="col-md-offset-2 col-md-10">
            <a href="/User/UserRegister" class="btn btn-success">Register</a>
        </div>
    </div>
</div>
</body>
</html>
