<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 4 WebApps Project</title>

    <link href="~/Content/css/cssBackground.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>

<body class="backgroundBody" >

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Moviemonster/Index">MovieMonster</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/Movie/MovieList">Movies</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/User/UserRegister"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/User/UserLogin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a href="/User/UserDetail"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
                <li><a href="/Cart/CartList"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
            </ul>
        </div>
    </nav>

    

    
    @*
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("MovieMonster", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("User", "Index", "Home")</li>
                        <li>@Html.ActionLink("Loginn", "About", "Home")</li>
                        <li style="float: right;">@Html.ActionLink("Signup", "Contact", "Home")</li>
                        // knappen, metode i controller, controller som metode ligger i
                    </ul>
                </div>
            </div>
        </div>
    *@
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <div class="footer">
        <footer>
            <center><p>&copy; @DateTime.Now.Year Group 4 production</p></center>
        </footer>
    </div>
</body>

</html>
