@model IEnumerable<WebAppsProsjekt1.Models.OrderHelper>

@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/Background.cshtml";

}
@if (Session["Login"] == null)
{
    Response.Redirect("/User/UserLogin");
}
else if (Session["AccessUnauthorized"] != null)
{
    <script type="text/javascript">
        $(window).on('load', function () {
            showFeedbackModal("You are not authorized to access this order.", "red", 4000);
        });
    </script>
    Session.Remove("AccessUnauthorized");
}
<link href="~/Content/List.css" rel="stylesheet" />
<div id="feedback-modal" class="modal" role="dialog">
    <div class="modal-body">
        <p align="center"></p>
    </div>
</div>

<h1>List of Orders</h1>

<table class="table table-striped">
    <thead>
        <tr class="row-name">
            <th style="width:5%"></th>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Date)</th>
            <th>@Html.DisplayNameFor(model => model.UserId)</th>
            <th style="width:20%"></th>
            <th style="width:12%"></th>
        </tr>
    </thead>
	<tbody>
		<tr class="row-content">
			@foreach (var item in Model)
			{
			<tr>
				<td><div class="col-sm-2 hidden-xs"></div></td>
				<td>@Html.DisplayFor(modelItem => item.Id)</td>
				<td>@Html.DisplayFor(modelItem => item.Date)</td>
				<td>@Html.DisplayFor(modelItem => item.UserId)</td>
				<td><div class="col-sm-2 hidden-xs"></div></td>
				<td class="td-actions">
					<div style="max-width:5em;"><a href="/Order/OrderDetail?id=@item.Id" class="btn btn-success">Details</a></div>
				</td>
			</tr>
			}
	</tbody>
</table>
</body>
</html>