@model IEnumerable<WebAppsProsjekt1.Models.OrderHelper>

@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/Background.cshtml";

}
@if (Session["Login"] == null)
{
    Response.Redirect("/User/UserLogin");
}
else if (Session["AccessUnauthorized"] != null)
{
    <script type="text/javascript">
        $(window).on('load', function () {
            showFeedbackModal("You are not authorized to access this order.", "red");
        });
    </script>
    Session.Remove("AccessUnauthorized");
}
<link href="~/Content/List.css" rel="stylesheet" />
<div id="feedback-modal" class="modal" role="dialog">
    <div class="modal-body">
        <p align="center"></p>
    </div>
</div>

<h2>List of Orders</h2>

<table class="table table-striped">
    <thead>
        <tr class="row-name">
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Date)</th>
            <th>@Html.DisplayNameFor(model => model.UserId)</th>
            <th>Detail</th>
        </tr>
    </thead>
    <tbody>
        <tr class="row-content">
            @foreach (var item in Model)
            {
            <tr>
                <td class="text-center">@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                <td class="td-actions text-right">
                    @*<div class="btn btn-success">@Html.ActionLink("Details", "OrderDetail", new { id = item.Id, @class = "btn btn-success" })</div>*@
                    <div style="width:auto"><a href="/Order/OrderDetail?id=@item.Id" class="btn btn-success">Details</a></div>
                    @*@Html.ActionLink("Delete", "OrderDelete", new { id = item.Id })*@
                </td>
            </tr>
        }
    </tbody>
</table>

</body>
</html>
