@model List<WebAppsProsjekt1.Model.Movie>
@{
    ViewBag.Title = "CartList";
    Layout = "~/Views/Shared/Background.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/cssCartList.css" />
<h1>Cart</h1>
<div class="container-fluid" id="cart_container">
    @using (Html.BeginForm())
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width:20%">Movie</th>
                    <th class="hidden-xs" style="width:10%">Price</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tbody>
                @Html.AntiForgeryToken()
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        @Html.HiddenFor(model => Model[i].Id, new { htmlAttributes = new { @class = "form-control", id = "movieId" } })
                        <td data-th="Movie">
                            <div class="row">
                                <div class="col-sm-5"><img src="@Model[i].ImagePath" style="width:7em; height:10em;" /></div>
                                <div class="col-sm-5">
                                    <h2>@Model[i].Title</h2>
                                    <p>@Model[i].Category</p>
									<p class="hidden-lg hidden-md hidden-sm">@Model[i].Cost Kr</p>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price" class="hidden-xs">@Model[i].Cost Kr</td>
                        <td class="actions" data-th="">
                            <a href="/Cart/CartDelete?id=@Model[i].Id" class="btn btn-danger">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
				<tr>
					<td class="hidden-xs"></td>
					<td><strong>Total: @(Model.Sum(i => i.Cost)) Kr</strong></td>
					<td><strong>Movies: @Model.Count</strong></td>
				</tr>
                <tr>
					<td class="hidden-xs"></td>
                    <td><a class="btn btn-danger" href="@Url.Action("CartClear", "Cart")"><span class="glyphicon glyphicon-trash"></span></a></td>
                    <td><input type="submit" class="btn btn-success" value="Checkout"/></td>
                </tr>
            </tfoot>
        </table>
    }
</div>
</body>
</html>