@model List<WebAppsProsjekt1.Models.Movie>

@{
    ViewBag.Title = "CartList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
    <head>
        <link href="~/Content/css/cssCart/cssCartList.css" rel="stylesheet" />
    </head>
    <body>
        <h1>CartList</h1>
        @if (Session["Login"] != null)
        {
            <h2>@Session["Login"].ToString()</h2>
        }
            <div class="container-fluid" id="cart_container">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    foreach (var movie in Model)
                    {
                        <div class="row">
                            @Html.HiddenFor(model => movie.Id, new { htmlAttributes = new { @class = "form-control", id = "movieId" } })
                            <div class="form-group">
                                <div class="col-lg-1">
                                    <div class="img-container">
                                        <img src="@movie.ImagePath" style="width:6vh; height:8vh;" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3">
                                    <h2>@movie.Title</h2>
                                    <p>@movie.Category</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-8">
                                    <h2>@movie.Cost Kroner</h2>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" />
                    </div>
                }
            </div>
    </body>
</html>
