@model WebAppsProsjekt1.Models.Movie

<div class="card--content">
    @*<div class="tile">*@
        <a href="#movieDetailsModal" id="movieModal"
           data-id="@Model.Id"
           data-title="@Model.Title"
           data-category="@Model.Category"
           data-cost="@Model.Cost"
           data-image="@Model.ImagePath" data-toggle="modal" data-movieDetailsModal="true">
            <img id="@Model.Id" src="@Url.Content(Model.ImagePath)" alt="@Model.Title"/>
        </a>
    @*</div>*@
</div>


@*Netflix store bilder: 342 × 684*@