@model WebAppsProsjekt1.Models.Movie

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>@Model.Title</th>
                </tr>
            <tr>
                <th>
                    <a href="#movieDetailsModal" id="movieModal"
                       data-id="@Model.Id"
                       data-title="@Model.Title" 
                       data-category="@Model.Category" 
                       data-cost="@Model.Cost" 
                       data-image="@Model.ImagePath" data-toggle="modal" data-movieDetailsModal="true">
                       <img id="@Model.Id" src="@Url.Content(Model.ImagePath)" alt="@Model.Title" height="250px" width="180px" /></a>
                </th>
            </tr>
        </table>
    </div>
</div>


