@model List<WebAppsProsjekt1.Models.Movie>
@{
	ViewBag.Title = "MovieList";
	Layout = "~/Views/Shared/Background.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/cssMovieList.css" />
@*FeedbackModal*@
@if (Session["PurchaseSuccess"] != null)
{
	<script type="text/javascript">
		$(window).on('load', function () {
			showFeedbackModal("Order confirmed.", "green", 4000);
		});
	</script>
	Session.Remove("PurchaseSuccess");
}
else if (Session["PurchaseFailedEmpty"] != null)
{
	<script type="text/javascript">
		$(window).on('load', function () {
			showFeedbackModal("Empty order.", "red", 4000);
		});
	</script>
	Session.Remove("PurchaseFailedEmpty");
}
else if (Session["LoginSuccess"] != null)
{
	<script type="text/javascript">
		$(window).on('load', function () {
			showFeedbackModal("Login successful.", "green", 2000);
		});
	</script>
	Session.Remove("LoginSuccess");
}
else if (Session["LoginAlready"] != null)
{
	<script type="text/javascript">
		$(window).on('load', function () {
			showFeedbackModal("Already logged in.", "red", 4000);
		});
	</script>
	Session.Remove("LoginAlready");
}
else if (Session["AccessFailedAdmin"] != null)
{
	<script type="text/javascript">
		$(window).on('load', function () {
			showFeedbackModal("Admin session is required for access.", "red", 4000);
		});
	</script>
	Session.Remove("AccessFailedAdmin");
}
@*Add to Cart*@
<script type="text/javascript">
	$(window).on('load', function () {
		$('a[data-movieDetailsModal=true]').click(function () {
			// Hente inn data-taggene fra a-href link
			var data_title = $(this).data('title');
			var data_cost = $(this).data('cost');
			var data_image = $(this).data('image');
            var data_id = $(this).data('id');
            var data_trailer = $(this).data('trailer');

			// Legge data inn i div'en i modal-viewet
			$('#movieTitle').html(data_title);
            $('#movieImage').attr("src", data_image);
            $('#movieTrailer').attr("src", data_trailer);
			$('#movieCost').html(data_cost);
			$('#movieId').html(data_id);

            // Stopper trailer i å spille videre når modalen lukkes
            $("#movieDetailsModal").on('hidden.bs.modal', function (e) {
                $("#movieDetailsModal iframe").attr("src", $("#movieDetailsModal iframe").attr("src"));
            });

			// Legge film til shopping cart
			$("#addToCartBtn").click(function () {
				$.ajax({
					url: '@Url.Action("AddMovieToCart", "Movie")',
					data: { id: document.getElementById("movieId").innerHTML },
					success: function () {
						showFeedbackModal(document.getElementById("movieTitle").innerHTML + " was added to cart.", "green", 2000);
						$('#addToCartBtn').off('click');
					},
					error: function () {
						alert("Feil");
					}
				});
			})
		})
	});
</script>
<div id="feedback-modal" class="modal" role="dialog">
	<div class="modal-body">
		<p align="center"></p>
	</div>
</div>
<div>
	<h1 class="moviesList" style="color:white;">Movies</h1>
	<div class="row">
		<h2>Sci-Fi</h2>
		<div class="row__inner">
			@foreach (var movie in Model)
			{
				if (movie.Category == "Sci-Fi")
				{
					// Render film-objektene og displayer dem i viewet
					@Html.Partial("~/Views/Movie/MovieListPartial.cshtml", movie)
				}
				else
				{

				}
			}
		</div>
	</div>
	<div class="row">
		<h2>Comedy</h2>
		<div class="row__inner">
			@foreach (var movie in Model)
			{
				if (movie.Category == "Comedy")
				{
					// Render film-objektene og displayer dem i viewet
					@Html.Partial("~/Views/Movie/MovieListPartial.cshtml", movie)
				}
				else
				{

				}
			}
		</div>
	</div>
	<div class="row">
		<h2>Crime</h2>
		<div class="row__inner">
			@foreach (var movie in Model)
			{
				if (movie.Category == "Crime")
				{
					// Render film-objektene og displayer dem i viewet
					@Html.Partial("~/Views/Movie/MovieListPartial.cshtml", movie)
				}
				else
				{

				}
			}
		</div>
	</div>
	<div class="row">
		<h2>Horror</h2>
		<div class="row__inner">
			@foreach (var movie in Model)
			{
				if (movie.Category == "Horror")
				{
					// Render film-objektene og displayer dem i viewet
					@Html.Partial("~/Views/Movie/MovieListPartial.cshtml", movie)
				}
				else
				{

				}
			}
		</div>
	</div>

	@*Pop-up modalen som viser når man velger en film*@
	@Html.Partial("~/Views/Modal/movieDetailsModal.cshtml")
</div>
@Html.Partial("~/Views/Shared/Footer.cshtml")