@model List<WebAppsProsjekt1.Models.Movie>
@{
	ViewBag.Title = "MovieList";
	Layout = "~/Views/Shared/Background.cshtml";
}

@Styles.Render("~/Content/css/cssMovie/cssMovieList.css");

@*FeedbackModal*@
@if (Session["PurchaseSuccess"] != null)
{
	<script type="text/javascript">
		$(window).on('load', function () {
			showFeedbackModal("Order confirmed.", "green");
		});
	</script>
	Session.Remove("PurchaseSuccess");
}
else if (Session["PurchaseFailedEmpty"] != null)
{
	<script type="text/javascript">
		$(window).on('load', function () {
			showFeedbackModal("Empty order.", "red");
		});
	</script>
	Session.Remove("PurchaseFailedEmpty");
}
else if (Session["LoginAlready"] != null)
{
	<script type="text/javascript">
		$(window).on('load', function () {
			showFeedbackModal("Already logged in.", "red");
		});
	</script>
	Session.Remove("LoginAlready");
}

@*Add to Cart*@
<script type="text/javascript">
	$(window).on('load', function () {
		$('a[data-movieDetailsModal=true]').click(function () {
			// Hente inn data-taggene fra a-href link
			var data_title = $(this).data('title');
			var data_cost = $(this).data('cost');
			var data_image = $(this).data('image');
			var data_id = $(this).data('id');

			// Legge data inn i div'en i modal-viewet
			$('#movieTitle').html(data_title);
			$('#movieImage').attr("src", data_image);
			$('#movieCost').html(data_cost);
			$('#movieId').html(data_id);

			// Legge film til shopping cart
			$("#addToCartBtn").click(function () {
				$.ajax({
					url: '@Url.Action("AddMovieToCart", "Movie")',
					data: { id: document.getElementById("movieId").innerHTML },
					success: function () {
					},
					error: function () {
						alert("Feil");
					}
				});
			})
		})
	});
</script>

@Html.Partial("~/Views/Modal/feedbackModal.cshtml")
<div>
	<h1 class="moviesList" style="color:white;">Movies</h1>
	<div class="row">
		<div class="row__inner">
			@foreach (var movie in Model)
			{
				if (movie.ImagePath == null)
				{
				}
				else
				{
					// Render film-objektene og displayer dem i viewet
					@Html.Partial("~/Views/Movie/MovieListPartial.cshtml", movie)
				}
			}
		</div>
	</div>

	@*Pop-up modalen som viser når man velger en film*@
	@Html.Partial("~/Views/Modal/movieDetailsModal.cshtml")
</div>
</body>
</html>
